.forever-susan-dark-background {
    background-color: #190604;
}

.forever-susan-dark-color {
    color: #190604;
}

.forever-susan-accent-orange-background {
    background-color: #190604;
}

.forever-susan-accent-orange-color {
    color: #190604;
}

.forever-susan-accent-lime-background {
    background-color: #a2b738;
}

.forever-susan-accent-lime-color {
    color: #a2b738;
}

.forever-susan-dark-green-background {
    background-color: #203812
}

.forever-susan-dark-green-color {
    color: #203812;
}

.forever-susan-red-accent-background {
    background-color: #c33540
}

.forever-susan-red-accent-color {
    color: #203812;
}
