button {
	cursor: url('https://i.ibb.co/cCd2FgT/lilycursor.jpg'), auto;
    border: 2px ridge var(--royal-sunset-purple);
    border-radius: 5px;
	cursor: url('https://i.ibb.co/cCd2FgT/lilycursor.jpg'), auto;
    background-color: #847030;
    color: #e1d0d3;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
    transition: width 0.4s ease-in-out;
    justify-content: flex-end;
}

.text {
    border: 2px ridge var(--royal-sunset-purple);
    border-radius: 5px;
	cursor: url('https://i.ibb.co/cCd2FgT/lilycursor.jpg'), auto;
    background-color: #847030;
    color: #e1d0d3;
}
