input {
    transition: width 0.4s ease-in-out;
}

.habit-form {
    background-color: #e1d0d3;
    border: 2px ridge var(--royal-sunset-purple);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.habit-input {
    background-color: #9c3a87;
}