:root {
    --forever-susan-dark-crimson:    #190604;
    --forever-susan-dark-green:      #203812;
    --forever-susan-accent-orange:   #fd4f19;
    --forever-susan-accent-peach:    #ec1d13;
    --forever-susan-accent-lime:     #a2b738;
    --forever-susan-accent-red:      #c33540;
    --forever-susan-accent-yellow:   #fe9e48;
}
