:root {
    --forever-susan-dark-crimson     #190604;
    --forever-suzan-dark-green       #203812;
    /* TODO: re-find orange accent color. for *
     *   some reason it's the same as crimson */
    --forever-susan-accent-orange:   #190604;
    --forever-susan-accent-lime:     #a2b738;
    --forever-suzan-accent-red:      #c33540;
}
