:root {
    --royal-sunset-purple: #7051b0;
    --royal-sunset-rouge: #9c3a87;
    --royal-sunset-wafer: #e1d0d3;
    --royal-sunset-crimson: #2b1311;
    --royal-sunset-peach: #e08745;
    --royal-sunset-deep-amber: #847030; 
}
