:root {
    --entity-index-border-radius: 12px;
}

.entity-index-container {
    position: fixed;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  var(--forever-susan-accent-yellow);
}

.entity-index {
    margin: auto;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--royal-sunset-wafer);
    border-radius: var(--entity-index-border-radius);
    margin-left: auto;
    margin-right: auto;
}

.entity-index-list {
    overflow-y: auto;
}

.entity-index-heading {
    flex-basis: max-content;
    margin-bottom: 30px;
    padding: 15px 0;
    background: var(--royal-sunset-purple);
    text-align: center;
    font-size: x-large;
    width: 100%;
    border-radius: var(--entity-index-border-radius);
}
