.entity-index-list a {
    text-decoration: none;
}

.entity-index-box {
    margin: 0 30px 30px 30px;
    padding: 15px;
    background: var(--royal-sunset-purple);
    border-radius: 5px;
    color: var(--royal-sunset-wafer);
}

.entity-index-box h2 {
    color: var(--forever-susan-accent-yellow);
}

input {
    background-color: #847030;
    color: #e1d0d3;
    transition: width 0.4s ease-in-out;
}

::placeholder {
    color: #e1d0d3;
}
