.navbar-flex-container {
    z-index: 1;
    position: fixed;
    display: flex;
    height: 100vh;
    bottom: 0;
    right: 0;
    pointer-events: none;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar {
    text-align: center;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    margin: 20px 12px;
    pointer-events: auto;
}

.navbar button {
    cursor: pointer;
    align-self: center;
    width: 66%;
    padding: 0;
    height: 48px;
    font-weight: bold;
    border: 2px ridge var(--royal-sunset-purple);
    border-radius: 15px;
    color: var(--royal-sunset-peach);
    background-color: var(--forever-susan-dark-green);
}

.navbar > a {
    display: inline-block;

}

.navbar-logo {
    color: var(--forever-susan-accent-peach);
    font-weight: bold;
    font-family: var(--reggae-one);
    font-size: 48px;
    padding: 15px;
}

.navbar-links {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: inherit;
    height: 100%;
    width: 100%;
    right: -52px;
    transform: scale(0);
    max-height: 0;
    bottom: 70px;
    justify-content: space-around;
    align-itmes: center;
    transition: .5s ease-in-out;
    margin-bottom: 50px;
}

.navbar:hover .navbar-links {
    bottom: 12px;
    z-index: -1;
    transform: scale(1);
    right: 0;
    max-height: 640px;
}

@import "./navbar_logo_animation.css";
