.navbar-flex-container {
    position: fixed;
    display: flex;
    height: 100vh;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    margin: 20px 12px;
}

.navbar-logo {
    color: var(--forever-susan-accent-peach);
    text-shadow: -.25px -.25px var(--forever-susan-accent-orange);
}

.navbar-links {
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-direction: inherit;
    height: 0;
    max-height: 0;
    bottom: 12px;
    justify-content: space-between;
    transition: .5s ease-in-out;
}

.navbar:hover .navbar-links {
    z-index: -1;
    height: 100%;
    max-height: 480px;
}

