#footer-wrapper {
    position: fixed;
    bottom: 0;
    margin: 12px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#footer {
    text-decoration: none;
    color: var(--forever-susan-accent-lime);
    background-image: radial-gradient(  at bottom left,
                        var(--forever-susan-dark-green),
                        var(--forever-susan-dark-crimson)
                        );
}
