#modal-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 25%;
    background-color: #e08745;
}

.modal-fade-in {
    animation: modal-fade-in 0.45s ease-in;
    animation-fill-mode: forwards;
}

.modal-fade-out {
    animation: modal-fade-out 0.45s ease-out;
    animation-fill-mode: forwards;
}

@keyframes modal-fade-in {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes modal-fade-out {
    0%   { opacity: 1.0; }
    100% { opacity: 0.0; }
}
